@font-face {
    font-family: Montserrat;
    src: url(../audiovisual/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montserrat-Italic;
    src: url(../audiovisual/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
*,:after,:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*
*
*
*
*
*
*/

body{
    margin: 0;
    font-family: sans-serif;
}

h1,h2,h3,p,a,ul {
	font-family: "Raleway", sans-serif;
	color: #000;
}


nav {
	position: fixed;
	width: 100%;
    background: #fff;
    z-index: 100;
    border-bottom: solid #000;

}
nav ul {
	list-style: none;
	text-align: center;
}
nav ul li {
	display: inline-block;
	margin-right: 2rem;
	position: relative;
    cursor: pointer;
}

nav ul li:hover{
    background-color: #770f69;
    padding: 0.2rem;
    border-radius: 2rem;
    color: #fff;
}

nav ul li:last-child {
	margin-right: 0;
}
nav ul li a {
	text-decoration: none;
}

.hero {
	background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(/audiovisual/container-3857611_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.hero__item {
	padding-left: 80px;
}
.hero__item:last-child {
	padding-left: 0;
	padding-right: 180px;
}
.hero__item .title {
	opacity: 1; 
	position: relative;
}
.hero__item h1 {
	font-size: 10rem;
	position: relative;
    color: #fff;
}
.hero__item img {
	z-index: 2;
	position: relative;
	opacity: 1;
    height: 35rem;
	right: -1000px;
}

.boxes {
	position: relative;
}
.boxes__box {
	min-width: 120px;
	min-height: 120px;
	background-color: #024ab6;
    border-radius: 0.5rem 2rem 0.5rem 2rem;
	position: absolute;
	top: -6rem;
	left: -2rem;
}
.boxes__box:first-child {
	top: -210px;
	left: 0;
}
.boxes__box:nth-child(2) {
	background-color:#770f69 ;
	bottom:-70px ;
	left:-90px ;
	top:auto ;
	height :240px ;
	width :240px ;
}
.boxes__box:nth-child(3) {
	background-color:#770f69;
	top: -80px;
	right: 40px;
	left: 200px;
	height: 200px;
	width: 200px;
}
.boxes__box:nth-child(4) {
	background-color:#770f69 ;
	top:-30px ;
	left:-120px ;
	height :220px ;
	width :220px ;
}
.boxes__box:nth-child(5) {
	background-color:#2c7df5 ;
	right:-50px ;
	top:auto ;
	left:auto ;
	bottom:-40px ;
	height :170px ;
	width :170px ;
}

.button-hero{
    cursor: pointer;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    padding: 2rem;
    margin-left: 1rem;
    background-color: #fff;

}

.button-hero:hover{
    background-color: #671672;
    border-color: #fff;
    color: #fff;
}

/*
*
*
*
*
*
*/
.explore__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
}



.explore__grid {
    margin-inline: 5rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
  }
  
  .explore__card {
    padding: 1rem;
    background-color: #1f2125;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 1rem;
    transition: 0.3s;
  }
  
  .explore__card:hover {
    background-color: #770f69;
    border-color: #fff;
    color: #fff;
  }
  
  .explore__card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    background-color: #723b16;
    border-radius: 5px;
  }
  
  .explore__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
  }
  
  .explore__card p {
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .explore__card a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .explore__card a:hover {
    color: #aaa;
  }
  

.main-first{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    text-align: center;
    color: rgb(255, 255, 255);
}
.main-first h1{
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: 6rem;
    text-transform: uppercase;
}
.main-first p{
    margin-top: 0;
    margin-bottom: 2rem;
    margin-inline: auto;
    font-weight: 100;
    line-height: 25spx;
}
.main-first button{
    color: rgb(255, 255, 255);
    padding: 1rem 0rem;
    margin: 1.5rem 1rem;
    text-transform: uppercase;
    border: 0.1rem solid rgb(255, 255, 255);
    background-color: transparent;
    text-align: center;
    width: 7rem;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.main-first span{
    background-color: rgb(140, 1, 140);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    transition: 0.5s;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.main-first button:hover span{
    width: 100%;
}

/********/



/*
*
*
*
*
*
*/

#second-sec{
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 80vh;
    position: relative;
    margin-inline: 5rem;
}

.container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    overflow: hidden;
    height:95%;
    background-color: #ffffff;
    border-radius: 1rem;

}

#slide{
    width:max-content;
    margin-top:50px;
}

.item{
    width: 13rem;
    height:20rem;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 1.5rem;
    padding: 2rem;
}

.item:nth-child(1),.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}

.item:nth-child(3){
    left:50%;
}

.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}

.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}

.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}

.item .name{
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    
    animation:showcontent 0.7s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 0.7s ease-in-out 0.3s 1 forwards
}

.item button{
    border-radius: 1rem;
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 0.7s ease-in-out 0.6s 1 forwards
}

.item button:hover{
    transition: 0.5s;
    background-color: #292929;
    color: #ffffff;
    border:0.1rem solid #ffffff;
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}

.buttons{
    position: absolute;
    bottom:1rem;
    z-index: 222222;
    text-align: center;
    width:100%;
}

.buttons button{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    border:0.1rem solid #000000;
    transition: 0.5s;

}.buttons button:hover{
    background-color: #671672;
    border:0.1rem solid #ffffff;
    color: #fff;
}


/**/



/********/

/***/


/******/

footer{
    position:relative;
}


.container2{
	max-width: 90%;
	margin-left: 5rem;
}
.row{
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1a1a1a;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #770f69;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
